/***** Main menu styling *****/
nav.main-nav {
  height: 3em;
  display: flex;
  justify-content: space-between;
}

nav.main-nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  justify-content: space-between;
  width: 100%
}

nav.main-nav li {
  padding: 1em;
}

p {
  font-size: 20px
}

.flex-container {
  display: flex;
}

.flex-container > section {
  background-color: #FAEFC4;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.grow1 {
  flex: 1;
}

.grow2 {
  flex: 3;
}


.bio {
  /* width: 50%; */
}

.fleft {
    float: left;
    margin-right: 1em;
    font-size: 20px
}

.img {
  display: flex;
}

.flex-container1 {
 display: flex;
 flex-direction: column;
 background-color: DodgerBlue;
}

.flex-container1 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.li {
  font-size: 30px
}

.header {
  text-align: center;
  background: #C4CFFA;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header > * {
  margin: 0;
  padding:0;
}

.SCI-header {
  background: #FAEFC4;
}

.TPN-header {
  background: #C4FAD4;
}

.PM-header {
  background: #FAC4EA;
}

.WESA-header {
  background: #C4CFFA;
}

.FM-header {
  background: #FAEFC4;
}

.CDM-header {
  background: #C4CFFA;
}
