/***** Main menu styling *****/
nav.main-nav {
  height: 3em;
  background-color: #5995DA;  /* Blue */
  display: flex;
  justify-content: space-between;
}

nav.main-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav.main-nav li {
  padding: 1em;
}
